---
import CheckBox from "../../../components/CheckBox.astro"
import Banner from "../../../components/Banner.astro"
import Layout from "../../../layouts/Layout.astro"
import Input from "../../../components/Input.astro"

const findUs = [
  {
    id: "states-ws-input",
    label: "Estados de WhatsApp",
    name: "find-us",
  },
  {
    id: "group-ws-input",
    label: "Grupos de WhatsApp",
    name: "find-us",
  },
  {
    id: "fb-input",
    label: "Facebook",
    name: "find-us",
  },
  {
    id: "ig-findus-input",
    label: "Instagram",
    name: "find-us",
  },
  {
    id: "friend-input",
    label: "Un amigo",
    name: "find-us",
  },
  {
    id: "ubv-input",
    label: "UBV",
    name: "find-us",
  },
  {
    id: "ig-advertising-input",
    label: "Publicidad en Instagram",
    name: "find-us",
  },
]

const underAge = [
  {
    id: "under-age-true-input",
    label: "Sí",
    name: "under-age",
  },
  {
    id: "under-age-false-input",
    label: "No",
    name: "under-age",
  },
]

const work = [
  {
    id: "student-input",
    label: "Estudiante",
    name: "work",
  },
  {
    id: "professional-input",
    label: "Profesional",
    name: "work",
  },
  {
    id: "both-input",
    label: "Ambos",
    name: "work",
  },
  {
    id: "other-work-input",
    label: "Otro",
    name: "work",
  },
]

const university = [
  {
    id: "ubv-university-input",
    label: "UBV",
    name: "university",
  },
  {
    id: "iutirla-input",
    label: "IUTIRLA",
    name: "university",
  },
  {
    id: "unesr-input",
    label: "UNESR",
    name: "university",
  },
  {
    id: "udo-input",
    label: "UDO",
    name: "university",
  },
  {
    id: "ucs-input",
    label: "UCS",
    name: "university",
  },
  {
    id: "upel-input",
    label: "UPEL",
    name: "university",
  },
  {
    id: "iutv-input",
    label: "IUTV",
    name: "university",
  },
  {
    id: "santiago-input",
    label: "Santiago Mariño",
    name: "university",
  },
  {
    id: "ludovico-silva-input",
    label: "Ludovico Silva",
    name: "university",
  },
  {
    id: "other-university-input",
    label: "Otro",
    name: "university",
  },
]

const experience = [
  {
    id: "exp-false-input",
    label: "No, ninguna",
    name: "experience",
  },
  {
    id: "exp-basic-input",
    label: "Básica",
    name: "experience",
  },
  {
    id: "exp-medium-input",
    label: "Media",
    name: "experience",
  },
  {
    id: "exp-advanced-input",
    label: "Avanzada",
    name: "experience",
  },
]

const menu = [
  {
    id: "menu-a",
    label: "Asado negro con arroz y ensalada rallada",
    name: "menu",
    value: "Asado negro",
  },
  {
    id: "menu-b",
    label: "Pollo a la plancha con puré y ensalada rallada",
    name: "menu",
    value: "Pollo a la plancha",
  },
  {
    id: "menu-c",
    label: "Pasta boloñesa con plátano y pan",
    name: "menu",
    value: "Pasta boloñesa",
  },
  {
    id: "menu-d",
    label:
      "Hamburguesa clásica: carne salsas tradicionales, vegetales y queso con ración de papas fritas",
    name: "menu",
    value: "Hamburguesa",
  },
]
---

<Layout>
  <section class="py-2 bg-gray-100 pb-8">
    <div class="max-w-2xl mx-auto my-0">
      <Banner />

      <form class="py-2 rounded-lg flex flex-col gap-y-2">
        <Input
          id="fullname-input"
          label="Nombre y apellido"
          placeholder="respuesta corta"
          type="text"
          name="fullname"
          required
        />

        <Input
          id="dni-input"
          label="Numero de cedula"
          placeholder="respuesta corta"
          type="text"
          name="dni"
          required
        />

        <Input
          id="email-input"
          label="Correo"
          placeholder="respuesta corta"
          type="email"
          name="email"
          required
        />

        <Input
          id="phone-input"
          label="Número de teléfono con WhatsApp"
          placeholder="respuesta corta"
          type="tel"
          name="phone"
          required
        />

        <Input
          id="ig-input"
          label="Instagram"
          placeholder="respuesta corta"
          type="text"
          name="ig-input"
          required
        />

        <div
          class="flex flex-col gap-y-2 bg-white rounded-lg px-4 py-2 border border-gray-300"
        >
          <h2 class="font-bold text-lg">¿Cómo se enteró de la Master Class?</h2>
          {
            findUs.map((el) => {
              return (
                <CheckBox
                  id={el.id}
                  label={el.label}
                  name={el.name}
                  value={el.label}
                />
              )
            })
          }
        </div>

        <div
          class="flex flex-col gap-y-2 bg-white rounded-lg px-4 py-2 border border-gray-300"
        >
          <h2 class="font-bold text-lg">¿Menor de edad?</h2>
          {
            underAge.map((el) => {
              return (
                <CheckBox
                  id={el.id}
                  label={el.label}
                  name={el.name}
                  value={el.label}
                />
              )
            })
          }
        </div>

        <Input
          id="disability-input"
          label="Indique si tiene alguna patología o discapacidad"
          placeholder="respuesta corta"
          type="text"
          name="disability"
          required
        />

        <div
          class="flex flex-col gap-y-2 bg-white rounded-lg px-4 py-2 border border-gray-300"
        >
          <h2 class="font-bold text-lg">
            Actualmente, ¿eres estudiante o profesional?
          </h2>
          {
            work.map((el) => {
              return (
                <CheckBox
                  id={el.id}
                  label={el.label}
                  name={el.name}
                  value={el.label}
                />
              )
            })
          }

          <div class="hidden" id="other-work-input-wrapper">
            <Input
              id="other-work-input-text"
              label=""
              placeholder="respuesta corta"
              type="text"
              name="other-work-input-text"
            />
          </div>
        </div>

        <div
          class="flex flex-col gap-y-2 bg-white rounded-lg px-4 py-2 border border-gray-300"
        >
          <h2 class="font-bold text-lg">
            ¿En qué universidad estudias o egresaste?
          </h2>
          {
            university.map((el) => {
              return (
                <CheckBox
                  id={el.id}
                  label={el.label}
                  name={el.name}
                  value={el.label}
                />
              )
            })
          }

          <div class="hidden" id="other-university-input-wrapper">
            <Input
              id="other-university-input-text"
              label=""
              placeholder="respuesta corta"
              type="text"
              name="other-university-input-text"
            />
          </div>
        </div>

        <div
          class="flex flex-col gap-y-2 bg-white rounded-lg px-4 py-2 border border-gray-300"
        >
          <h2 class="font-bold text-lg">
            ¿Tienes experiencia en el área audiovisual?
          </h2>
          {
            experience.map((el) => {
              return (
                <CheckBox
                  id={el.id}
                  label={el.label}
                  name={el.name}
                  value={el.label}
                />
              )
            })
          }
        </div>

        <div
          class="flex flex-col gap-y-2 bg-white rounded-lg px-4 py-2 border border-gray-300"
        >
          <h2 class="font-bold text-lg">
            Menu <span class="font-semibold text-sm text-gray-600"
              >(Todos las opciones incluyen bebida)</span
            >
          </h2>
          {
            menu.map((el) => {
              return (
                <CheckBox
                  id={el.id}
                  label={el.label}
                  name={el.name}
                  value={el.value}
                />
              )
            })
          }
        </div>

        <div class="bg-white px-4 py-2 rounded-lg">
          <h2 class="font-bold text-lg">Datos de pago</h2>
          <p>0102 26157134 04161974728 $5 BCV</p>
        </div>

        <Input
          id="ref-input"
          label="Referencia de pago"
          placeholder="respuesta corta"
          type="text"
          name="ref"
          required
        />

        <div
          class="flex flex-col gap-y-2 bg-white rounded-lg px-4 py-2 border border-gray-300"
        >
          <label for="pay" class="font-semibold text-lg"
            >Comprobante de pago</label
          >
          <input
            type="file"
            id="pay"
            name="pay"
            accept="image/png, image/jpeg"
            class="border border-gray-200 px-4 py-2 rounded-md"
          />
        </div>

        <button
          class="mx-auto bg-blue-500 text-white font-semibold px-4 py-2 rounded-md cursor-pointer disabled:bg-blue-300 disabled:cursor-not-allowed"
          type="submit">Enviar</button
        >

        <a href="/audiovisual" class="w-fit underline">Volver</a>
      </form>
    </div>
  </section>
</Layout>

<script>
  const $buttonSubmit = document.querySelector("form")

  document.addEventListener("DOMContentLoaded", () => {
    clickOtherRadioButton({
      document: document,
      query: "input[name='work']",
      otherId: "#other-work-input",
      wrapperId: "#other-work-input-wrapper",
    })

    clickOtherRadioButton({
      document: document,
      query: "input[name='university']",
      otherId: "#other-university-input",
      wrapperId: "#other-university-input-wrapper",
    })
  })

  $buttonSubmit?.addEventListener("submit", async (ev) => {
    ev.preventDefault()
    $buttonSubmit.setAttribute("disabled", "true")
    const formData = new FormData(ev.target as HTMLFormElement)
    const response = await fetch("/api/masterclass", {
      method: "POST",
      body: formData,
    })
    const data = await response.json()

    if (response.ok) {
      location.href = "/audiovisual/gracias"
    }

    $buttonSubmit.removeAttribute("disabled")
  })

  function clickOtherRadioButton({
    document,
    query,
    otherId,
    wrapperId,
  }: {
    document: any
    query: string
    otherId: string
    wrapperId: string
  }) {
    const $radioOtherInput = document.querySelectorAll(
      query,
    ) as NodeListOf<HTMLInputElement>

    $radioOtherInput.forEach((el) => {
      el.addEventListener("click", (ev) => {
        const $other = document.querySelector(otherId) as HTMLInputElement
        const $wrapper = document.querySelector(wrapperId)
        if ($other.checked) {
          $wrapper?.classList.remove("hidden")
        } else {
          $wrapper?.classList.add("hidden")
        }
      })
    })
  }
</script>
