---
export const prerenderer = true
import CheckBox from "../../../components/CheckBox.astro"
import Banner from "../../../components/Banner.astro"
import AuthLayout from "../../../layouts/AuthLayout.astro"
import Input from "../../../components/Input.astro"

const findUs = [
  {
    id: "states-ws-input",
    label: "Estados de WhatsApp",
    name: "find-us",
  },
  {
    id: "group-ws-input",
    label: "Grupos de WhatsApp",
    name: "find-us",
  },
  {
    id: "fb-input",
    label: "Facebook",
    name: "find-us",
  },
  {
    id: "ig-findus-input",
    label: "Instagram",
    name: "find-us",
  },
  {
    id: "friend-input",
    label: "Un amigo",
    name: "find-us",
  },
  {
    id: "ubv-input",
    label: "UBV",
    name: "find-us",
  },
  {
    id: "ig-advertising-input",
    label: "Publicidad en Instagram",
    name: "find-us",
  },
]

const experience = [
  {
    id: "exp-false-input",
    label: "No, ninguna",
    name: "experience",
  },
  {
    id: "exp-basic-input",
    label: "Básica",
    name: "experience",
  },
  {
    id: "exp-medium-input",
    label: "Media",
    name: "experience",
  },
  {
    id: "exp-advanced-input",
    label: "Avanzada",
    name: "experience",
  },
]
---

<AuthLayout
  title="Cache Marketing | Master Class Edición Audiovisual | Formulario"
>
  <section class="py-2 bg-gray-100 pb-8 px-8 md:px-0">
    <div class="md:max-w-2xl mx-auto my-0">
      <Banner />

      <form class="py-2 rounded-lg flex flex-col gap-y-2">
        <div
          class="flex flex-col gap-y-2 bg-white rounded-lg px-4 py-2 border border-gray-300"
        >
          <h2 class="font-bold text-md md:text-lg">
            ¿Cómo se enteró de la Master Class?
          </h2>
          {
            findUs.map((el) => {
              return (
                <CheckBox
                  id={el.id}
                  label={el.label}
                  name={el.name}
                  value={el.label}
                />
              )
            })
          }
        </div>

        <div
          class="flex flex-col gap-y-2 bg-white rounded-lg px-4 py-2 border border-gray-300"
        >
          <h2 class="font-bold text-md md:text-lg">
            ¿Tienes experiencia en el área audiovisual?
          </h2>
          {
            experience.map((el) => {
              return (
                <CheckBox
                  id={el.id}
                  label={el.label}
                  name={el.name}
                  value={el.label}
                />
              )
            })
          }
        </div>

        <div class="bg-white px-4 py-2 rounded-lg">
          <h2 class="font-bold text-md md:text-lg">Datos de pago</h2>
          <p>0102 26157134 04161974728 $5 BCV</p>
        </div>

        <Input
          id="ref-input"
          label="Referencia de pago"
          placeholder="respuesta corta"
          type="tel"
          name="ref"
          required
        />

        <div
          class="flex flex-col gap-y-2 bg-white rounded-lg px-4 py-2 border border-gray-300"
        >
          <label for="pay" class="font-semibold text-md md:text-lg"
            >Comprobante de pago</label
          >
          <input
            type="file"
            id="pay"
            name="pay"
            accept="image/png, image/jpeg"
            class="border border-gray-200 px-4 py-2 rounded-md"
            required
          />
        </div>

        <button
          class="mx-auto bg-blue-500 text-white font-semibold px-4 py-2 rounded-md cursor-pointer disabled:bg-blue-300 disabled:cursor-not-allowed"
          type="submit"
          id="button-submit">Enviar</button
        >

        <a href="/audiovisual" class="w-fit underline">Volver</a>
      </form>
    </div>
  </section>
</AuthLayout>

<script>
  import { API_URL } from "@/lib/const"

  document.addEventListener("DOMContentLoaded", () => {
    const $form = document.querySelector("form")
    const $buttonSubmit = document.getElementById(
      "button-submit",
    ) as HTMLButtonElement

    $form?.addEventListener("submit", async (ev) => {
      ev.preventDefault()
      $buttonSubmit.setAttribute("disabled", "true")

      const originalFormData = new FormData(ev.target as HTMLFormElement)

      const howFind = originalFormData.get("find-us")
      const experience = originalFormData.get("experience")
      const payRef = originalFormData.get("ref")
      const payImg = originalFormData.get("pay") as File

      if (!payImg || payImg.size === 0) {
        alert("Por favor selecciona un comprobante de pago")
        $buttonSubmit.removeAttribute("disabled")
        return
      }

      const res = await fetch("/api/user", { method: "GET" })
      const json = await res.json()
      const { id } = json.user
      const { token } = json

      const extension = payImg.name.split(".").pop()
      const newFileName = `${id}-70a7a519-405c-4a48-8b77-e9c420a23d1b.${extension}`

      const modifiedFile = new File([payImg], newFileName, {
        type: payImg.type,
      })

      const fileFormData = new FormData()
      fileFormData.append("pay-img", modifiedFile)

      const uploadImg = await fetch(`${API_URL}/api/training-user/upload-pay`, {
        method: "POST",
        body: fileFormData,
      })

      if (!uploadImg.ok) {
        alert("Error al guardar el comprobante")
        $buttonSubmit.removeAttribute("disabled")
        return
      }

      const imgData = await uploadImg.json()

      const response = await fetch(`${API_URL}/api/training-user/`, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          Authorization: `Bearer ${token}`,
        },
        body: JSON.stringify({
          trainingId: "70a7a519-405c-4a48-8b77-e9c420a23d1b",
          userId: id,
          howFind,
          experience,
          additionalInfo: null,
          payRef,
          payImg: imgData.path,
        }),
      })

      if (response.status === 403) {
        alert("Usuario ya registrado")
        location.href = "/perfil"
        return
      }

      if (response.ok) {
        location.href = "/audiovisual/gracias"
      } else {
        const errorText = await response.text()
        console.error("Error al crear registro:", errorText)
        alert("Hubo un error al procesar tu solicitud")
      }

      $buttonSubmit.removeAttribute("disabled")
    })
  })
</script>
